header,
section,
footer {
  display: block;
}
body {
  user-select: none;
}
header {
  display: none;
}
#head {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.5);
  text-align: center;
}
#head .logo {
  line-height: 50px;
  font-size: 32px;
  background: -webkit-linear-gradient(left, #659999, #f4791f);
  /* 背景色渐变 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 200;
}
#head button {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 10px;
  background: url(../img/menu.svg) no-repeat center center;
  background-size: 40px 40px;
}
#head #navBox {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.5);
}
#head #navBox a {
  color: #999;
  font-family: '宋体';
  margin-left: 30px;
}
#body .searchBtn {
  display: none;
}
#body #searchDiv {
  display: none;
}
#body .bigBg .mainMid {
  display: none;
}
#body .bigBg .mainMax {
  display: none;
}
