header,
section,
footer {
  display: block;
}
body {
  user-select: none;
}
header {
  display: none;
}
#head {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.5);
  text-align: center;
}
#head .logo {
  line-height: 50px;
  font-size: 32px;
  background: -webkit-linear-gradient(left, #659999, #f4791f);
  /* 背景色渐变 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 200;
}
#head > button {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 10px;
  background: url(../img/menu1.svg) no-repeat center center;
  transform: rotate(180deg);
  background-size: 36px 36px;
}
#head #navBox {
  transition: .5s;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 50px;
  left: -100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#head #navBox a {
  color: #999;
  font-family: '宋体';
  margin-left: 20px;
}
#head #navBox .active {
  color: #000;
}
#head #navBox button {
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 10px;
  background: url(../img/menu1.svg) no-repeat center center;
  background-size: 36px 36px;
}
#body {
  margin-top: 50px;
}
#body .searchBtn {
  display: none;
}
#body #searchDiv {
  display: none;
}
#body .bigBg .mainMid {
  display: none;
}
#body .bigBg .mainMax {
  display: none;
}
#body .bigBg .mainMin {
  position: relative;
  width: 100%;
  height: 500px;
  background: url(../img/essayList/1.jpg) repeat-x center center;
}
#body .bigBg .mainMin a {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #fff;
  user-select: none;
}
#body .bigBg .mainMin a h3 {
  letter-spacing: 4px;
  font-weight: 500;
  font-size: 22px;
}
#body .bigBg .mainMin a p {
  margin-top: 10px;
  color: #BFBFBF;
  font-size: 14px;
}
#body .article .head {
  text-align: center;
  height: 50px;
}
#body .article .head a {
  line-height: 50px;
  color: #999;
  font-size: 16px;
}
#body .article .head a::after {
  content: " ▪";
  color: #000;
  letter-spacing: 8px;
}
#body .article .head a:last-child::after {
  content: "";
}
#body .article .head a:hover {
  color: #000;
}
#body .article .head .active {
  color: #000;
}
#body .article .main {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
#body .article .main article {
  margin: 0 1.5% 10px 1.5%;
  width: 47%;
  height: auto;
}
#body .article .main article .image {
  height: 240px;
  overflow: hidden;
}
#body .article .main article .image img {
  min-height: 140px;
  transition: .5s;
  width: 100%;
  height: auto;
  min-height: 100%;
}
#body .article .main article .image img:hover {
  transform: scale(1.1, 1.1);
}
#body .article .main article .content h3 {
  margin-top: 10px;
  letter-spacing: 4px;
  font-weight: 800;
  font-size: 18px;
}
#body .article .main article .content h3 a {
  color: #48494d;
}
#body .article .main article .content h3 a:hover {
  color: #000;
}
#body .article .main article .content .hide {
  margin-top: 15px;
  text-indent: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
}
#body .article .main article .content .hide a {
  color: #48494d;
}
#body .article .main article .content .hide a:hover {
  color: #000;
}
#body .article .main article .content .p {
  margin-top: 15px;
  font-size: 12px;
  color: #999;
}
#body .article .main .load {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#body .article .main .load button {
  cursor: pointer;
  width: 100px;
  height: 40px;
  background-color: #242424;
  color: #fff;
  letter-spacing: 4px;
  border-radius: 4px;
}
#body .article .main .load button:hover {
  background-color: #090909;
}
footer {
  border-top: 1px solid #f1f1f1;
  width: 100%;
  height: 50px;
}
footer div {
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
  line-height: 50px;
  font-size: 14px;
  letter-spacing: 2px;
}
footer div a {
  color: #999;
}
footer div a:hover {
  color: #3274ff;
}
footer div p {
  color: #999;
  float: left;
}
footer div span {
  float: right;
}
